<% provide :title, "New Milestone" %>

<% provide :toolbox, "<li><a href=\"/help/creating-a-milestone\">New milestone help</a></li>".html_safe %>

  <h1>Create a milestone for <%= @version %></h1>

  <%= form_for @milestone, :url => version_milestones_path(@version) do |form| %>
  <%= render 'form', :form => form %>
  <% end %>
