<% provide :title, 'Projects' %>

<% content_for :toolbox, "<li><a href=\"/projects/new\">New project</a></li>".html_safe if can? :create, Project %>

<h1>Projects</h1>

<table class="table table-condensed table-striped">
  <thead>
    <tr><td>Project Name</td><td>Versions</td><td>Tasks Past Due</td></tr>
  </thead>
  <tbody>
  <% @projects.order("name").each do |project| %>
    <tr>
      <td><%= link_to project.name, project %></td>
      <td><% if project.versions.empty? %><em>none</em><% else %>
          <%= "Next release: #{next_version_of project}" %><br/>
          <%= "Prior release: #{prior_version_of project}" %><% end %></td>
      <td>0</td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr><td colspan="3"><%= pluralize(@projects.count, "project") %></td></tr>
  </tfoot>
</table>
