<% provide :title, "Edit #{@version}" %>
  
  <h1>Edit <%= "#{@version.project.name} #{@version.name}" %></h1>
  
  <%= form_for :version, :url => version_path(@version), :method => 'put', :html => { :class => 'form-horizontal' } do |form| %>
  <%= render 'form', :form => form, :project => @version.project %>
  <% end %>
