<% provide :title, "New version for #{@project.name}" %>

  <h1>Creating new version for <%= @project.name %></h1>
  
  <%= form_for :version, :url => project_versions_path(@project) do |form| %>
  <%= render 'form', :form => form, :project => @project %>
  <% end %>
