/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import url('http://fonts.googleapis.com/css?family=Asap:400,700');
@import url(http://fonts.googleapis.com/css?family=Economica:400,700);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:700,700italic);

.constraint {
    width: 980px;
    margin: 0 auto;
}

.cf:before, .cf:after {
    content: "";
    display: table;
}
.cf:after { clear: both; }
.cf { zoom: 1; }

html, body {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Asap", "Verdana", "Helvetica Neue", sans-serif;
    border-top: 10px solid #61768c;
}

input[type=text], input[type=password] { border: 1px solid #cccccc; }
input[type=text]:focus, input[type=password]:focus { border: 1px solid #aaaaaa; }

h1 { text-shadow: 5px 5px 5px #dddddd; }

h2 {
    margin-top: 0px;
    font-weight: normal;
}

#header {
    height: 45px;
    line-height: 45px;

    h1 {
        font-family: "Palatino Linotype", "Ubuntu";
        font-style: italic;
        font-weight: normal;
        font-variant: small-caps;
        float: left;
        letter-spacing: 2px;
        margin: 0px;
    }
    
    nav {
        float: right;

        a {
            text-decoration: underline;
            margin-left: 10px;
        }
    }
}

.setupinfo {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 10px;
}

section#toolbox {
    margin: 1em;
    padding: 4px;
    border-radius: 0 0 0.5em 0.5em;
    float: right;
    width: 20%;
    background: #09c;
    box-shadow: 0 5px 10px -2px #333;

    ul {
        list-style-image: url(arrow.gif);
    }

    h3 {
        background: #004;
        color: white;
        margin: -4px;
        padding: 4px;
    }

    a { color: white; }
}

section#bottom {
    text-align: center;
    font-size: 0.8em;
}

.netscapeobject { position: relative; }

a { color: black; }

/* Form styles */
fieldset {
    margin: 1em;
    font-size: smaller;
    font-weight: bolder;
}

label {
    font-size: larger;
    font-weight: normal;
}

label.required { font-weight: bold; }
input.heading {
    font-size: x-large;
    font-family: "Palatino";
}

.past-due {
    color: red;
    font-weight: bolder;
}

/* Table styles */
tr.finished { text-decoration: line-through; }
td { padding: 0.5em; }
table {
    width: 100%;
    tr { background: white }
}

thead {
    tr {
        background: #004;
        color: white;
    }
}

tbody {
    tr {
        background: white;
        color: black;

        > :first-child { padding-left: 16px; }
    }
    
    tr:hover {
        background: #09c;

        .past-due { color: pink }

        > :first-child {
            background: url(arrow.gif) no-repeat;
            background-position: 0% 50%;
        }

        color: white;

        a { color: white; }
    }
}

tfoot {
    margin: 1em;
    text-align: center;
    tr {
        td {
            background: #bbb;
            border-radius: 0 0 10px 10px;
        }
    }
}

div.error {
    background: #fbb;
    border: 3px solid #a00;
    padding: 1em;
    margin:1em;
    font-weight: bold;
}

div.success {
    background: #bfb;
    border: 3px solid #0a0;
    padding: 1em;
    margin:1em;
    font-weight: bold;
}
