
<% if content_for? :toolbox %>
  <section>
    <div id="toolbox" class="thirty fr padtop">
      <h3>Toolbox</h3>
      <ul>
        <%= raw yield :toolbox %>
      </ul>
    </div>
  </section>
<% end %>
